In [2]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime

In [4]:
df = pd.read_excel('InernalData.xlsx')
df=df.drop(['5 -  Code pays','Unnamed: 0',"9 S1. Taille de l'entreprise",'15 S5. Et quel est l’opérateur principal que votre entreprise utilise? ','14  S4. Quels sont tous les opérateurs que votre entreprise utilise','13 S3. Etes-vous le décideur concernant ces choix ?','12   S2A. Parmi ces téléphones, y a-t-il des Smartphones ?','11  S2. Votre entreprise utilise-t-elle actuellement des téléphones mobiles ?','10  Dans quel secteur  travaillez-vous ?',"9 S1. Taille de l'entreprise",'id','3 S0.1 Code ville','4 S0.2. Sexe :','7 Date de passation du questionnaire','8  S1. Combien de salariés travaillent dans votre entreprise?'],axis=1)

In [5]:
d = {'questions','service name','operator'}
data = pd.DataFrame(d)
data

              0
0      operator
1     questions
2  service name

In [125]:
list = []
for i in df.columns:
    list.append(df[i].name)

In [126]:
d = {'questions' : list,
   'service name':'' ,'operator':'','type question':'','type reponse':''}
data = pd.DataFrame(d)
data

,questions,service name,operator,type question,type reponse
0,16 S6. Depuis combien de temps votre entrepri...,,,,
1,"17 S7 Pour Orange, quel énoncé décrit le mieu...",,,,
2,"18 S7Pour Ooredoo, quel énoncé décrit le mieux...",,,,
3,"19 S7 Pour Tunisie Telecom, quel énoncé décri...",,,,
4,20 S8. Quel type d’offre votre entreprise ou ...,,,,
...,...,...,...,...,...
122,151 Q46. Pour quel autre opérateur principal c...,,,,
123,153 Prénom,,,,
124,154 Nom,,,,
125,155 Numéro de téléphone,,,,
126,156 Nom de l'entreprise,,,,

In [127]:
data.drop(0)
data['questions']

0      16  S6. Depuis combien de temps votre entrepri...
1      17  S7 Pour Orange, quel énoncé décrit le mieu...
2      18 S7Pour Ooredoo, quel énoncé décrit le mieux...
3      19  S7 Pour Tunisie Telecom, quel énoncé décri...
4      20  S8. Quel type d’offre votre entreprise ou ...
                             ...
122    151 Q46. Pour quel autre opérateur principal c...
123                                           153 Prénom
124                                              154 Nom
125                              155 Numéro de téléphone
126                              156 Nom de l'entreprise
Name: questions, Length: 127, dtype: object

In [149]:
#remplissage colonne type reponse et operateur
j=0
for i in df.columns:
    if df[i].values.dtype == 'float64':
        data['type reponse'][j]= 'note' 
    else:
        data['type reponse'][j]= 'String'    
    data['operator'][j]= 'operateur principale'
    if 'Orange' in i:
        data['operator'][j]= 'Orange'
    if 'orange' in i:
        data['operator'][j]= 'Orange'
    if 'Ooredoo' in i:
        data['operator'][j]= 'Ooredoo'
    if 'ooredoo' in i:
        data['operator'][j]= 'Ooredoo'
    if 'Tunisie Telecom' in i:
        data['operator'][j]= 'Tunisie Telecom'
    j=j+1

In [157]:
#remplissage colonne service name
j=0
for i in df.columns:
    data['type question'][j]= 'specifique'
    if 'facture' in i:
        data['service name'][j]= 'facturation'
    if 'Facture' in i:
        data['service name'][j]= 'facturation'
    if 'ecommanderiez' in i:
        data['type question'][j]= 'globale'
    if 'GLOBALE' in i:
        data['type question'][j]= 'globale'
    if 'un opérateur qui' in i:
        data['type question'][j]= 'globale'
    if 'un opérateur qui' in i:
        data['service name'][j]= 'relation client'
    if 'Mobicash ' in i:
        data['service name'][j]= 'Mobicash '
    if 'Mdinar' in i:
        data['service name'][j]= 'Mdinar'
    if 'oaming' in i:
        data['service name'][j]= 'roaming'
    j=j+1
data

,questions,service name,operator,type question,type reponse
0,16 S6. Depuis combien de temps votre entrepri...,,operateur principale,specifique,String
1,"17 S7 Pour Orange, quel énoncé décrit le mieu...",,Orange,specifique,String
2,"18 S7Pour Ooredoo, quel énoncé décrit le mieux...",,Ooredoo,specifique,String
3,"19 S7 Pour Tunisie Telecom, quel énoncé décri...",,Tunisie Telecom,specifique,String
4,20 S8. Quel type d’offre votre entreprise ou ...,,operateur principale,specifique,String
...,...,...,...,...,...
122,151 Q46. Pour quel autre opérateur principal c...,,operateur principale,specifique,String
123,153 Prénom,,operateur principale,specifique,String
124,154 Nom,,operateur principale,specifique,String
125,155 Numéro de téléphone,,operateur principale,specifique,String
126,156 Nom de l'entreprise,,operateur principale,specifique,String

In [158]:
data.to_excel("tablequestion.xlsx")

In [10]:
dchoices = {'Dans la presse' :'', 'sur le site internet':'' , 'en boutique':'' , 'via bouche a oreille':'' ,
   'via un moteur de recherche':'' ,'en appeleant le service':''}
dataChoices = pd.DataFrame(dchoices)
dataChoices

ValueError: If using all scalar values, you must pass an index

In [ ]:
j=0
for i in range(1418):
    dchoices['Dans la presse'][i]=O
    if data['40 - [49] Q05B. Par quels principaux moyens avez-vous trouvé les informations que vous recherchiez ?'][i]= 'Dans la presse':
        dchoices['Dans la presse'][i]=1
        
    dchoices['sur le site internet'][i]=O
    if data['40 - [49] Q05B. Par quels principaux moyens avez-vous trouvé les informations que vous recherchiez ?'][i]= 'sur le site internet':
        dchoices['sur le site internet'][i]=1